<h1>User info</h1>

<p><%= user.name %></p>
<p><%= user.introduction %></p>
<p><%= attachment_image_tag user, :profile_image, format: 'jpeg', size: "10 x 10" %></p>
<p><%= link_to "編集", edit_user_path(user.id) %></p>